* {
    font-family: 'Poppins', sans-serif;
}

html {
    width: auto;
    height: auto;
}

section {
    margin: 16vw 0;
}

.btn {
    border: 0;
    border-radius: 1.2vw;
}

.btn:hover {
    
}

.btn-primary {
    background-color: #F3B063;
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: #F3B063;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.btn-primary:active {
    background-color: white !important;
}
 
.text-grey {
    color: #FCFCFC;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #F3B063;
    color: #F3B063;
    transition: 0.5s;
}

.btn-secondary:hover {
    background-color: transparent;
    border: 1px solid #F3B063;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.header {
    background-image: url(../assets/img/background.png);
    background-size: cover;
    background-position: top;
}

.navigate {
        z-index: 999;
        position: fixed;
        top: 0;
    }

.bg-blue {
    background-color: #0C3A63;
}

.bg-navbar {
    background-color: #0C3A63;
}

.bg-login {
    background-color: #F3B063;
}

.home-img {
    opacity: 0;
}

.fa-solid.fa-bars {
    color: #fafafa;
}

#featured, #modern {
    opacity: 0;
}

.featured-icon {
    width: auto; 
    height: 6vw;
}

.featured-img {
    filter: grayscale(1);
    transition: 0.5s;
}

.featured-img:hover {
    filter: grayscale(0);
}

.icon-back {
    background-image: url('../assets/icon/back.svg');
    background-size: cover;
}

.icon-next {
    background-image: url('../assets/icon/next.svg');
}

.better-property-card {
    z-index: 1;
    position: relative;
    top: -15vw;
    right: -25vw;
    width: 74%;
}

.user {
    width: 12vw;
}

.carousel-indicators  [data-bs-target]{
    background-color: black;
}

.carousel-indicators > button {
    border-radius: 50%;
    width: 1.6vw !important;
    height: 1.6vw !important;
}

.contact-icon {
    width: 6vw;
}

.contact-icon-title {
    font-size: 1em;
}

.contact-icon-caption {
    font-size: 0.6em;
}

@media only screen and (max-width: 576px) {

    .navbar {
        z-index: 999;
        position: fixed;
        top: 0;
    }

    .navbar-toggler {
        color: transparent;
    }

    .navbar-collapse {
        min-width: 110vw;
        margin: 0 0 0 -2em;
    }
}

@media only screen and (min-width: 576px) {

    .navbar {
        z-index: 999;
    }

    .navbar-nav {
        justify-content: end;
    }

    .navbar-collapse {
        margin: 0;
    }

    li .login {
        width: 100px;
    }

    .navigation {
        justify-content: start;
    }

    .featured-icon {
        height: 4vw;
    }

    .jumbotron-title {
        font-size: 2.2em;
    }

    .jumbotron-caption {
        font-size: 1em;
    }

    .home-img {
        z-index: 1;
        position: relative;
        top: 10%;
    }

    .better-property-card {
        top: -18vw;
    }

    .carousel-indicators > button {
        border-radius: 50%;
        width: 1vw !important;
        height: 1vw !important;
    }

}

@media only screen and (min-width: 768px) {

    .better-property-card {
        width: 64%;
        top: -15vw;
        right: -35vw;
    }

    .user {
        width: 8vw;
    }
}

@media only screen and (min-width: 992px) {
    
    .featured-icon {
        width: auto; 
        height: 2vw;
    }

    .better-property-card {
        z-index: 1;
        position: relative;
        top: -12vw;
        right: -39vw;
        width: 60%;
    }

    .jumbotron-title {
        font-size: 3em;
    }

    .jumbotron-caption {
        font-size: 1.2em;
    }

    .carousel-indicators > button {
        width: 0.8vw !important;
        height: 0.8vw !important;
    }
}

@media only screen and (min-width: 1200px) {

    .better-property-card {
        z-index: 1;
        position: relative;
        top: -15vw;
        right: -44vw;
        width: 54%;
    }

    .carousel-indicators > button {
        width: 0.6vw !important;
        height: 0.6vw !important;
    }

}

@media only screen and (min-width: 1400px) {
    
    section {
        margin: 14vw 3vw;
    }

    .better-property-card {
        z-index: 1;
        position: relative;
        top: -15vw;
        right: -40vw;
        width: 54%;
    }

    footer {
        margin: 0 3vw;
    }
}